# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

#3dtile
/public/3dtile/ankeyuan/Tile_+009_+009
/public/3dtile/ankeyuan/Tile_+009_+010
/public/3dtile/ankeyuan/Tile_+009_+011
/public/3dtile/ankeyuan/Tile_+010_+009
/public/3dtile/ankeyuan/Tile_+010_+010
/public/3dtile/ankeyuan/Tile_+010_+011

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
